<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FAKE" version="4.0.2" targetFramework="net452" userInstalled="true" />
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net452" userInstalled="true" />
  <package id="FsPickler" version="1.2.5" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net452" userInstalled="true" />
  <package id="Octokit" version="0.14.0" targetFramework="net452" userInstalled="true" />
  <package id="RazorEngine" version="3.7.0" targetFramework="net452" userInstalled="true" />
  <package id="Suave" version="0.30.0" targetFramework="net452" userInstalled="true" />
  <package id="Suave.Experimental" version="0.30.0" targetFramework="net452" userInstalled="true" />
  <package id="Suave.Razor" version="0.30.0" targetFramework="net452" userInstalled="true" />
</packages>