@{
    Layout = "layout.cshtml";
}

@*@section scripts {
    @Scripts.Render("~/bundles/vm-home")
}*@

<section id="events">
    @Include("_next_event")

    @Include("_past_events")

    @Include("_future_topics")
</section>
